<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.resources">
      <resource
            class="org.dslforge.styledtext.BasicTextResource"
            id="org.dslforge.styledtext.basictext">
      </resource>
   </extension>
</plugin>
