<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!--
   <extension
         id="basicLoginModule"
         point="org.eclipse.equinox.security.loginModule">
      <loginModule
            class="org.dslforge.rap.security.basic.BasicLoginModule"
            description="Basic Login Module">
      </loginModule>
   </extension>
   <extension
         id="basicCallbackHandler"
         point="org.eclipse.equinox.security.callbackHandler">
      <callbackHandler
            class="org.dslforge.rap.security.basic.BasicCallbackHandler">
      </callbackHandler>
   </extension>
   <extension
         point="org.eclipse.equinox.security.callbackHandlerMapping">
      <callbackHandlerMapping
            callbackHandlerId="org.dslforge.rap.security.basicCallbackHandler"
            configName="BASIC">
      </callbackHandlerMapping>
   </extension>
-->

   <extension
         id="databaseLoginModule"
         point="org.eclipse.equinox.security.loginModule">
      <loginModule
            class="org.dslforge.authentication.database.DatabaseLoginModule"
            description="Database-based Login Module">
      </loginModule>
   </extension>
   <extension
         id="databaseCallbackHandler"
         point="org.eclipse.equinox.security.callbackHandler">
      <callbackHandler
            class="org.dslforge.authentication.BasicCallbackHandler">
      </callbackHandler>
   </extension>
   <extension
         point="org.eclipse.equinox.security.callbackHandlerMapping">
      <callbackHandlerMapping
            callbackHandlerId="org.dslforge.authentication.databaseCallbackHandler"
            configName="DATABASE">
      </callbackHandlerMapping>
   </extension>
</plugin>
