<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.save"
            contextId="org.dslforge.text.editor.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+S">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.dslforge.text.editor.context"
            name="Text Editor Context"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.dslforge.texteditor.BasicTextEditor"
            contributorClass="org.dslforge.texteditor.BasicTextEditorContributor"
            default="false"
            extensions="txt"
            icon="icons/file_obj.png"
            id="org.dslforge.texteditor.default"
            name="Text Editor">
      </editor>
   </extension>
</plugin>
