<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!-- @generated dslforge -->
<plugin>
      <extension
         point="org.eclipse.rap.ui.resources">
      <resource
          class="org.eclipse.xtext.example.arithmetics.web.editor.widget.ArithmeticsResource">
		<dependsOn
			resourceId="org.dslforge.styledtext.basictext">
		</dependsOn>
      </resource>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themeableWidgets">
      <widget
            class="org.eclipse.xtext.example.arithmetics.web.editor.widget.Arithmetics"
            id="org.eclipse.xtext.example.arithmetics.web.editor.widget.Arithmetics"
            name="Arithmetics">
      </widget>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.xtext.example.arithmetics.web.editor.ArithmeticsEditor"
            contributorClass="org.eclipse.xtext.example.arithmetics.web.editor.ArithmeticsActionBarContributor"
            extensions="calc"
            icon="icons/model.png"
            id="org.eclipse.xtext.example.arithmetics.web.editor"
            name="Arithmetics Model Editor">
      </editor>
   </extension>
   <extension
     point="org.dslforge.xtext.common.contribution">
  <contribution
       factory="org.eclipse.xtext.example.arithmetics.web.ArithmeticsExecutableExtensionFactory"
        path="/org.eclipse.xtext.example.arithmetics/src/org/eclipse/xtext/example/arithmetics/Arithmetics.xtext"
        extension="calc">
  </contribution>
</extension>
</plugin>
