<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Photon" sequenceNumber="20">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.dslforge.runtime.feature.feature.group" version="0.0.0"/>
<repository location="http://dslforge.org/downloads/runtime/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<repository location="http://download.eclipse.org/rt/eclipselink/updates/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.persistence.sdk.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/rt/eclipselink/updates/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.tabbed-properties.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.rap.cnf.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.rap.addons.chart.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/rt/rap/incubator/nightly/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gemini.jpa.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/gemini/jpa/updates/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.google.guava" version="0.0.0"/>
<unit id="org.antlr.runtime" version="0.0.0"/>
<unit id="com.google.inject" version="0.0.0"/>
<unit id="org.apache.log4j" version="0.0.0"/>
<unit id="javax.inject" version="0.0.0"/>
<unit id="javax.activation" version="0.0.0"/>
<unit id="org.apache.commons.logging" version="0.0.0"/>
<unit id="org.objectweb.asm" version="0.0.0"/>
<unit id="osgi.enterprise" version="0.0.0"/>
<unit id="com.ibm.icu" version="0.0.0"/>

<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20180606145124/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.sdk.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.rap.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.rap.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xtend.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xtext.xbase.lib.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xtend.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.mwe.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xtext.runtime.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xtext.xbase" version="0.0.0"/>
<unit id="org.eclipse.xtend.lib" version="0.0.0"/>
<unit id="org.eclipse.xtend.lib.macro" version="0.0.0"/>
<unit id="org.eclipse.xtext.xbase.ide" version="0.0.0"/>
<unit id="org.eclipse.emf.codegen.ecore" version="0.0.0"/>
<unit id="org.eclipse.xtext.junit4" version="0.0.0"/>
<unit id="org.eclipse.xtext.xbase.junit" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/photon"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.addons.chart.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/rt/rap/incubator/nightly/chart"/>
</location>
</locations>
</target>
