<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         id="org.dslforge.antlr.builder"
         name="ANTLR v3 Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="true"
            isConfigurable="false"
            supportsConfigurations="false">
         <run
               class="org.dslforge.antlr.ui.ANTLRBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.dslforge.antlr.project.nature"
         name="ANTLR Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.dslforge.antlr.ui.ANTLRProjectNature">
         </run>
      </runtime>
      <builder
            id="org.dslforge.antlr.builder">
      </builder>
   </extension>
   <extension
         id="org.dslforge.antlr.problem.marker"
         name="Bridge Mapping Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.dslforge.antlr.ui.editor.BasicANTLREditor"
            default="true"
            extensions="g"
            icon="icons/antlr.png"
            id="org.dslforge.antlr.ui.editor"
            name="ANTLR Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            icon="icons/dslforge_overlay.png"
            id="org.dslforge.antlr.project.nature.decorator"
            label="DSL Forge Nature"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
               <objectState
                     name="nature"
                     value="org.dslforge.antlr.project.nature">
               </objectState>
            </and>
         </enablement>
      </decorator>
   </extension>

</plugin>
