<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension
         point="org.eclipse.rap.ui.resources">
      <resource
            class="org.eclipse.xtext.example.fowlerdsl.web.editor.widget.StatemachineResource"
            id="org.eclipse.xtext.example.fowlerdsl.web.editor.widget">
      </resource>
      <resource
          class="org.eclipse.xtext.example.fowlerdsl.web.editor.widget.GlobalIndexResource">
      </resource>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themeableWidgets">
      <widget
            class="org.eclipse.xtext.example.fowlerdsl.web.editor.widget.Statemachine"
            id="org.eclipse.xtext.example.fowlerdsl.web.editor.widget.Statemachine"
            name="Statemachine">
      </widget>
   </extension>
      <!-- @generated dslforge -->
   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.xtext.example.fowlerdsl.web.editor"
            name="Statemachine Model Editor"
	            icon="icons/model.png"
		            extensions="statemachine"
           class="org.eclipse.xtext.example.fowlerdsl.web.editor.StatemachineEditor"
            contributorClass="org.eclipse.xtext.example.fowlerdsl.web.editor.StatemachineActionBarContributor">
      </editor>
   </extension>
      <!-- @generated dslforge -->
   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="Statemachine Action Set"
            visible="true"
            id="org.eclipse.xtext.example.fowlerdsl.web.editor.actionset">
         <action
               class="org.eclipse.xtext.example.fowlerdsl.web.actions.NewStatemachineAction"
               icon="icons/model.png"
               id="org.eclipse.xtext.example.fowlerdsl.web.wizard.newStatemachineAction"
               label="Statemachine file"
               menubarPath="file/new/additions"/>
      </actionSet>
   </extension>
   
      <extension
         point="org.dslforge.workbench.contribution">
      <generator
            class="org.eclipse.xtext.example.fowlerdsl.web.StatemachineExecutableExtensionFactory"
            extension="statemachine"
            label="org.eclipse.xtext.example.fowlerdsl.Statemachine">
      </generator>
   </extension>
</plugin>
