<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!-- @generated dslforge -->
<plugin>
      <extension
         point="org.eclipse.rap.ui.resources">
      <resource
          class="org.xtext.example.mydsl.web.editor.widget.MyDslResource">
      </resource>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themeableWidgets">
      <widget
            class="org.xtext.example.mydsl.web.editor.widget.MyDsl"
            id="org.xtext.example.mydsl.web.editor.widget.MyDsl"
            name="MyDsl">
      </widget>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.xtext.example.mydsl.web.editor"
            name="MyDsl Model Editor"
		            extensions="mydsl"
           class="org.xtext.example.mydsl.web.editor.MyDslEditor"
            contributorClass="org.xtext.example.mydsl.web.editor.MyDslActionBarContributor">
      </editor>
   </extension>
   <extension
     point="org.dslforge.xtext.common.contribution">
  <contribution
       class="org.xtext.example.mydsl.web.MyDslExecutableExtensionFactory"
         extension="mydsl"
        label="MyDsl">
  </contribution>
</extension>
</plugin>
