<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="DSLFORGE Local Target" sequenceNumber="11">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.rap.common.ui.source.feature.group" version="2.9.0.v20150806-0404"/>
<unit id="org.eclipse.emf.rap.common.ui.feature.group" version="2.9.0.v20150806-0404"/>
<unit id="org.eclipse.persistence.sdo.feature.group" version="2.5.2.v20140319-9ad6abd"/>
<unit id="org.eclipse.persistence.dbwsbuilder.feature.group" version="2.5.2.v20140319-9ad6abd"/>
<unit id="org.eclipse.emf.rap.sdk.feature.group" version="2.11.1.v20150806-0404"/>
<unit id="org.eclipse.rap.tabbed-properties.feature.feature.group" version="0.1.0.20140426-0943"/>
<unit id="org.eclipse.persistence.dbwsbuilder.source.feature.group" version="2.5.2.v20140319-9ad6abd"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.11.1.v20150805-0538"/>
<unit id="org.eclipse.persistence.dbws.feature.group" version="2.5.2.v20140319-9ad6abd"/>
<unit id="org.eclipse.persistence.jpa.feature.group" version="2.5.2.v20140319-9ad6abd"/>
<unit id="org.eclipse.emf.ecore.edit.source.feature.group" version="2.9.0.v20150806-0404"/>
<unit id="org.eclipse.persistence.dbws.source.feature.group" version="2.5.2.v20140319-9ad6abd"/>
<unit id="org.eclipse.persistence.sdo.source.feature.group" version="2.5.2.v20140319-9ad6abd"/>
<unit id="org.eclipse.emf.rap.source.feature.group" version="2.11.1.v20150806-0404"/>
<unit id="org.eclipse.gemini.jpa.feature.feature.group" version="1.2.0.M1"/>
<unit id="org.eclipse.persistence.jpa.source.feature.group" version="2.5.2.v20140319-9ad6abd"/>
<unit id="org.eclipse.scout.rt.batik.dependency.feature.group" version="5.0.100.20150916-1224"/>
<unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="3.0.0.20150608-0802"/>
<unit id="org.eclipse.scout.rt.rap.feature.group" version="5.0.100.20150916-1224"/>
<unit id="org.eclipse.scout.rt.client.feature.group" version="5.0.100.20150916-1224"/>
<unit id="org.eclipse.emf.rap.edit.ui.source.feature.group" version="2.9.0.v20150806-0404"/>
<unit id="org.eclipse.rap.cnf.feature.feature.group" version="0.1.0.20140425-1557"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.11.0.v20150805-0538"/>
<unit id="org.eclipse.emf.edit.source.feature.group" version="2.11.1.v20150806-0404"/>
<unit id="org.eclipse.rap.sdk.feature.feature.group" version="3.0.0.20150602-0950"/>
<unit id="org.eclipse.persistence.sdk.feature.group" version="2.5.2.v20140319-9ad6abd"/>
<unit id="org.eclipse.rap.feature.feature.group" version="3.0.0.20150602-0950"/>
<unit id="org.eclipse.persistence.nosql.source.feature.group" version="2.5.2.v20140319-9ad6abd"/>
<unit id="org.eclipse.persistence.moxy.source.feature.group" version="2.5.2.v20140319-9ad6abd"/>
<unit id="org.eclipse.scout.rt.core.feature.group" version="5.0.100.20150916-1224"/>
<unit id="org.eclipse.rap.examples.feature.feature.group" version="3.0.0.20150602-1436"/>
<unit id="org.eclipse.persistence.nosql.feature.group" version="2.5.2.v20140319-9ad6abd"/>
<unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.9.0.v20150806-0404"/>
<unit id="org.eclipse.persistence.moxy.feature.group" version="2.5.2.v20140319-9ad6abd"/>
<unit id="org.eclipse.emf.edit.feature.group" version="2.11.1.v20150806-0404"/>
<unit id="org.eclipse.emf.rap.feature.group" version="2.11.1.v20150806-0404"/>
<unit id="org.eclipse.emf.rap.edit.ui.feature.group" version="2.9.0.v20150806-0404"/>
<repository location="file:/D:/dev/www/Mars/win32-x86_64/target/"/>
</location>
<location path="D:\dev\www\Mars\win32-x86_64\target\plugins" type="Directory"/>
</locations>
</target>
