<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension point="org.eclipse.rap.ui.entrypoint">
	<entrypoint
       class="org.dslforge.texteditor.demo.BasicWorkbench"
       id="org.dslforge.texteditor.demo.entrypoint"
       path="/texteditor">
		</entrypoint>
	</extension>
	<extension
		id="org.dslforge.texteditor.demo.application"
				point="org.eclipse.core.runtime.applications">
		<application
        cardinality="singleton-global"
        thread="main"
        visible="true">
			<run
				class="org.dslforge.texteditor.demo.BasicWorkbenchApplication">
			</run>
		</application>
	</extension>
	
	<extension
		point="org.eclipse.ui.perspectives">
		<perspective
        class="org.dslforge.texteditor.demo.parts.BasicWorkbenchPerspective"
        icon="icons/dslforge.png"
        id="org.dslforge.texteditor.demo.ui.parts.perspective"
        name="DSL Forge Workbench v0.9.1">
		</perspective>
	</extension>

   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.dslforge.navigator.view">
      </viewer>
      <viewerContentBinding
            viewerId="org.dslforge.navigator.view">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.dslforge.navigator.fileContent">
            </contentExtension>
            <contentExtension
                  pattern="org.dslforge.navigator.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
      <extension point="org.eclipse.ui.commands">
     <command
           defaultHandler="org.dslforge.texteditor.demo.commands.AboutCommand"
           description="About"
           helpContextId="About"
           id="org.dslforge.texteditor.demo.commands.help"
           name="About">
     </command>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:help">
         <command
               commandId="org.dslforge.texteditor.demo.commands.help"
               helpContextId="About"
               label="About"
               style="push"
               tooltip="About">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.dslforge.workspace.config.configuration">
      <contribution
            path="D:/www/workspace">
      </contribution>
   </extension>
</plugin>
