<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="contribution" name="org.dslforge.xtext.contribution" schema="schema/contribution.exsd"/>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.save"
            contextId="org.dslforge.text.editor.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+S">
      </key>
   </extension>
   
      <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.dslforge.navigator.view.actions.contribution.generate"
            nameFilter="*"
            objectClass="java.io.File">
        
    	  <action
               class="org.dslforge.xtext.common.actions.NewModelAction"
               enablesFor="*"
               icon="icons/model.png"
               id="org.dslforge.navigator.actions.new.model"
               label="Model"
               menubarPath="org.dslforge.workspace.menu.new/group"
               style="push"
               tooltip="Create a new model file">
         </action>
   
         <action
               class="org.dslforge.xtext.common.actions.BasicGenerateAction"
               enablesFor="*"
               icon="icons/generate.png"
               id="org.dslforge.workspace.menu.generate"
               label="Generate"
               menubarPath="group2"
               style="push">
         </action>
      </objectContribution>
   </extension>
 
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.dslforge.xtext.common.commands.NewModelCommand"
            description="Create a new model"
            helpContextId="Create a new model"
            id="org.dslforge.workspace.ui.commands.newModel"
            name="CreateNewFile">
      </command>
  </extension>       

    <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.dslforge.workspace.ui.actionSet1"
            label="label"
            visible="true">
         <action
               class="org.dslforge.xtext.common.actions.NewModelAction"
               definitionId="org.dslforge.workspace.ui.commands.newModel"
               icon="icons/model.png"
               id="org.dslforge.workspace.ui.actions.newModel"
               label="New Model"
               retarget="false"
               style="push"
               toolbarPath="main"
               tooltip="Create a new model">
         </action>
      </actionSet>
   </extension>
</plugin>
