<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="DSL Forge Runtime Target" sequenceNumber="48">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.dslforge.runtime.feature.feature.group" version="0.0.0"/>
<repository location="http://dslforge.org/downloads/runtime/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.persistence.sdk.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/rt/eclipselink/updates/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.tabbed-properties.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.rap.cnf.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/rt/rap/incubator/nightly/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gemini.jpa.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/gemini/jpa/updates/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.google.guava" version="15.0.0.v201403281430"/>
<unit id="org.antlr.runtime" version="3.2.0.v201101311130"/>
<unit id="com.google.inject" version="3.0.0.v201605172100"/>
<unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
<unit id="javax.inject" version="1.0.0.v20091030"/>
<unit id="javax.activation" version="0.0.0"/>
<unit id="org.apache.commons.logging" version="1.0.4.v201101211617"/>
<unit id="org.objectweb.asm" version="5.0.1.v201404251740"/>
<unit id="osgi.enterprise" version="4.2.0.v201108120515"/>
<unit id="com.ibm.icu" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160520211859/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.sdk.feature.feature.group" version="3.1.0.20160527-1719"/>
<unit id="org.eclipse.rap.feature.feature.group" version="3.1.0.20160527-1719"/>
<unit id="org.eclipse.emf.rap.sdk.feature.group" version="2.12.0.v20160526-0356"/>
<unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="3.1.0.20160607-1200"/>
<unit id="org.eclipse.xtend.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xtext.xbase.lib.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xtend.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.mwe.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xtext.runtime.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xtext.xbase" version="0.0.0"/>
<unit id="org.eclipse.xtext.xbase.ide" version="0.0.0"/>
<unit id="org.eclipse.emf.codegen.ecore" version="0.0.0"/>
<unit id="org.eclipse.xtext.junit4" version="0.0.0"/>
<unit id="org.eclipse.xtext.xbase.junit" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/neon"/>
</location>
</locations>
<includeBundles>
<plugin id="com.google.guava"/>
<plugin id="com.google.guava.source"/>
<plugin id="com.google.inject"/>
<plugin id="com.google.inject.source"/>
<plugin id="com.ibm.icu"/>
<plugin id="com.ibm.icu.base"/>
<plugin id="com.ibm.icu.base.source"/>
<plugin id="com.ibm.icu.source"/>
<plugin id="commonj.sdo"/>
<plugin id="commonj.sdo.source"/>
<plugin id="javax.activation"/>
<plugin id="javax.inject"/>
<plugin id="javax.inject.source"/>
<plugin id="javax.mail"/>
<plugin id="javax.persistence"/>
<plugin id="javax.persistence.source"/>
<plugin id="javax.servlet" version="2.4.0.v200806031604"/>
<plugin id="javax.servlet" version="3.1.0.v201410161800"/>
<plugin id="javax.servlet.source"/>
<plugin id="javax.ws.rs"/>
<plugin id="javax.ws.rs.source"/>
<plugin id="javax.wsdl"/>
<plugin id="javax.wsdl.source"/>
<plugin id="javax.xml"/>
<plugin id="javax.xml.bind"/>
<plugin id="javax.xml.stream"/>
<plugin id="jaxb-core"/>
<plugin id="jaxb-xjc"/>
<plugin id="org.antlr.runtime" version="3.2.0.v201101311130"/>
<plugin id="org.antlr.runtime.source" version="3.2.0.v201101311130"/>
<plugin id="org.apache.commons.cli"/>
<plugin id="org.apache.commons.cli.source"/>
<plugin id="org.apache.commons.fileupload"/>
<plugin id="org.apache.commons.io"/>
<plugin id="org.apache.commons.io.source"/>
<plugin id="org.apache.commons.lang"/>
<plugin id="org.apache.commons.lang.source"/>
<plugin id="org.apache.commons.logging"/>
<plugin id="org.apache.commons.logging.source"/>
<plugin id="org.apache.felix.gogo.command"/>
<plugin id="org.apache.felix.gogo.command.source"/>
<plugin id="org.apache.felix.gogo.runtime"/>
<plugin id="org.apache.felix.gogo.runtime.source"/>
<plugin id="org.apache.felix.gogo.shell"/>
<plugin id="org.apache.felix.gogo.shell.source"/>
<plugin id="org.apache.log4j" version="1.2.15.v201012070815"/>
<plugin id="org.apache.log4j.source" version="1.2.15.v201012070815"/>
<plugin id="org.dslforge.common.logging"/>
<plugin id="org.dslforge.styledtext"/>
<plugin id="org.dslforge.texteditor"/>
<plugin id="org.dslforge.texteditor.demo"/>
<plugin id="org.dslforge.workspace"/>
<plugin id="org.dslforge.workspace.config"/>
<plugin id="org.dslforge.workspace.jpa"/>
<plugin id="org.dslforge.workspace.ui"/>
<plugin id="org.dslforge.xtext.common"/>
<plugin id="org.eclipse.core.commands"/>
<plugin id="org.eclipse.core.commands.source"/>
<plugin id="org.eclipse.core.contenttype"/>
<plugin id="org.eclipse.core.contenttype.source"/>
<plugin id="org.eclipse.core.databinding"/>
<plugin id="org.eclipse.core.databinding.beans"/>
<plugin id="org.eclipse.core.databinding.beans.source"/>
<plugin id="org.eclipse.core.databinding.observable"/>
<plugin id="org.eclipse.core.databinding.observable.source"/>
<plugin id="org.eclipse.core.databinding.property"/>
<plugin id="org.eclipse.core.databinding.property.source"/>
<plugin id="org.eclipse.core.databinding.source"/>
<plugin id="org.eclipse.core.expressions"/>
<plugin id="org.eclipse.core.expressions.source"/>
<plugin id="org.eclipse.core.jobs"/>
<plugin id="org.eclipse.core.jobs.source"/>
<plugin id="org.eclipse.core.runtime"/>
<plugin id="org.eclipse.core.runtime.source"/>
<plugin id="org.eclipse.emf.codegen.ecore"/>
<plugin id="org.eclipse.emf.codegen.ecore.source"/>
<plugin id="org.eclipse.emf.common"/>
<plugin id="org.eclipse.emf.common.source"/>
<plugin id="org.eclipse.emf.ecore"/>
<plugin id="org.eclipse.emf.ecore.change"/>
<plugin id="org.eclipse.emf.ecore.change.edit"/>
<plugin id="org.eclipse.emf.ecore.change.edit.source"/>
<plugin id="org.eclipse.emf.ecore.change.source"/>
<plugin id="org.eclipse.emf.ecore.edit"/>
<plugin id="org.eclipse.emf.ecore.edit.source"/>
<plugin id="org.eclipse.emf.ecore.source"/>
<plugin id="org.eclipse.emf.ecore.xmi"/>
<plugin id="org.eclipse.emf.ecore.xmi.source"/>
<plugin id="org.eclipse.emf.edit"/>
<plugin id="org.eclipse.emf.edit.source"/>
<plugin id="org.eclipse.emf.mwe.core"/>
<plugin id="org.eclipse.emf.mwe.core.source"/>
<plugin id="org.eclipse.emf.mwe.utils"/>
<plugin id="org.eclipse.emf.mwe.utils.source"/>
<plugin id="org.eclipse.emf.mwe2.language"/>
<plugin id="org.eclipse.emf.mwe2.language.source"/>
<plugin id="org.eclipse.emf.mwe2.language.ui"/>
<plugin id="org.eclipse.emf.mwe2.language.ui.source"/>
<plugin id="org.eclipse.emf.mwe2.launch"/>
<plugin id="org.eclipse.emf.mwe2.launch.source"/>
<plugin id="org.eclipse.emf.mwe2.launch.ui"/>
<plugin id="org.eclipse.emf.mwe2.launch.ui.source"/>
<plugin id="org.eclipse.emf.mwe2.lib"/>
<plugin id="org.eclipse.emf.mwe2.lib.source"/>
<plugin id="org.eclipse.emf.mwe2.runtime"/>
<plugin id="org.eclipse.emf.mwe2.runtime.source"/>
<plugin id="org.eclipse.emf.rap"/>
<plugin id="org.eclipse.emf.rap.common.ui"/>
<plugin id="org.eclipse.emf.rap.common.ui.source"/>
<plugin id="org.eclipse.emf.rap.edit.ui"/>
<plugin id="org.eclipse.emf.rap.edit.ui.source"/>
<plugin id="org.eclipse.equinox.app"/>
<plugin id="org.eclipse.equinox.app.source"/>
<plugin id="org.eclipse.equinox.cm"/>
<plugin id="org.eclipse.equinox.cm.source"/>
<plugin id="org.eclipse.equinox.common"/>
<plugin id="org.eclipse.equinox.common.source"/>
<plugin id="org.eclipse.equinox.console"/>
<plugin id="org.eclipse.equinox.console.source"/>
<plugin id="org.eclipse.equinox.ds"/>
<plugin id="org.eclipse.equinox.ds.source"/>
<plugin id="org.eclipse.equinox.event"/>
<plugin id="org.eclipse.equinox.event.source"/>
<plugin id="org.eclipse.equinox.http.jetty"/>
<plugin id="org.eclipse.equinox.http.jetty.source"/>
<plugin id="org.eclipse.equinox.http.registry"/>
<plugin id="org.eclipse.equinox.http.registry.source"/>
<plugin id="org.eclipse.equinox.http.servlet"/>
<plugin id="org.eclipse.equinox.http.servlet.source"/>
<plugin id="org.eclipse.equinox.http.servletbridge"/>
<plugin id="org.eclipse.equinox.http.servletbridge.source"/>
<plugin id="org.eclipse.equinox.preferences"/>
<plugin id="org.eclipse.equinox.preferences.source"/>
<plugin id="org.eclipse.equinox.registry"/>
<plugin id="org.eclipse.equinox.registry.source"/>
<plugin id="org.eclipse.equinox.servletbridge"/>
<plugin id="org.eclipse.equinox.servletbridge.source"/>
<plugin id="org.eclipse.equinox.util"/>
<plugin id="org.eclipse.equinox.util.source"/>
<plugin id="org.eclipse.gemini.jpa"/>
<plugin id="org.eclipse.help"/>
<plugin id="org.eclipse.help.source"/>
<plugin id="org.eclipse.jdt.junit.runtime"/>
<plugin id="org.eclipse.jdt.junit.runtime.source"/>
<plugin id="org.eclipse.jetty.continuation"/>
<plugin id="org.eclipse.jetty.continuation.source"/>
<plugin id="org.eclipse.jetty.http"/>
<plugin id="org.eclipse.jetty.http.source"/>
<plugin id="org.eclipse.jetty.io"/>
<plugin id="org.eclipse.jetty.io.source"/>
<plugin id="org.eclipse.jetty.security"/>
<plugin id="org.eclipse.jetty.security.source"/>
<plugin id="org.eclipse.jetty.server"/>
<plugin id="org.eclipse.jetty.server.source"/>
<plugin id="org.eclipse.jetty.servlet"/>
<plugin id="org.eclipse.jetty.servlet.source"/>
<plugin id="org.eclipse.jetty.util"/>
<plugin id="org.eclipse.jetty.util.source"/>
<plugin id="org.eclipse.orbit.mongodb"/>
<plugin id="org.eclipse.orbit.mongodb.source"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="org.eclipse.osgi.services"/>
<plugin id="org.eclipse.osgi.services.source"/>
<plugin id="org.eclipse.osgi.source"/>
<plugin id="org.eclipse.persistence.antlr"/>
<plugin id="org.eclipse.persistence.antlr.source"/>
<plugin id="org.eclipse.persistence.asm"/>
<plugin id="org.eclipse.persistence.asm.source"/>
<plugin id="org.eclipse.persistence.core"/>
<plugin id="org.eclipse.persistence.core.source"/>
<plugin id="org.eclipse.persistence.dbws"/>
<plugin id="org.eclipse.persistence.dbws.builder"/>
<plugin id="org.eclipse.persistence.dbws.builder.source"/>
<plugin id="org.eclipse.persistence.dbws.source"/>
<plugin id="org.eclipse.persistence.jpa"/>
<plugin id="org.eclipse.persistence.jpa.jpql"/>
<plugin id="org.eclipse.persistence.jpa.jpql.source"/>
<plugin id="org.eclipse.persistence.jpa.source"/>
<plugin id="org.eclipse.persistence.moxy"/>
<plugin id="org.eclipse.persistence.moxy.source"/>
<plugin id="org.eclipse.persistence.nosql"/>
<plugin id="org.eclipse.persistence.nosql.source"/>
<plugin id="org.eclipse.persistence.oracle"/>
<plugin id="org.eclipse.persistence.oracle.nosql"/>
<plugin id="org.eclipse.persistence.oracle.nosql.source"/>
<plugin id="org.eclipse.persistence.oracle.source"/>
<plugin id="org.eclipse.persistence.oracleddlparser"/>
<plugin id="org.eclipse.persistence.oracleddlparser.source"/>
<plugin id="org.eclipse.persistence.sdo"/>
<plugin id="org.eclipse.persistence.sdo.source"/>
<plugin id="org.eclipse.rap.filedialog"/>
<plugin id="org.eclipse.rap.filedialog.source"/>
<plugin id="org.eclipse.rap.fileupload"/>
<plugin id="org.eclipse.rap.fileupload.source"/>
<plugin id="org.eclipse.rap.incubator.basictext"/>
<plugin id="org.eclipse.rap.incubator.texteditor"/>
<plugin id="org.eclipse.rap.incubator.texteditor.css"/>
<plugin id="org.eclipse.rap.incubator.texteditor.html"/>
<plugin id="org.eclipse.rap.incubator.texteditor.java"/>
<plugin id="org.eclipse.rap.incubator.texteditor.javascript"/>
<plugin id="org.eclipse.rap.incubator.texteditor.json"/>
<plugin id="org.eclipse.rap.jface"/>
<plugin id="org.eclipse.rap.jface.databinding"/>
<plugin id="org.eclipse.rap.jface.databinding.source"/>
<plugin id="org.eclipse.rap.jface.source"/>
<plugin id="org.eclipse.rap.nebula.jface.gridviewer"/>
<plugin id="org.eclipse.rap.nebula.jface.gridviewer.source"/>
<plugin id="org.eclipse.rap.nebula.widgets.grid"/>
<plugin id="org.eclipse.rap.nebula.widgets.grid.source"/>
<plugin id="org.eclipse.rap.nebula.widgets.richtext"/>
<plugin id="org.eclipse.rap.nebula.widgets.richtext.source"/>
<plugin id="org.eclipse.rap.rwt"/>
<plugin id="org.eclipse.rap.rwt.osgi"/>
<plugin id="org.eclipse.rap.rwt.osgi.source"/>
<plugin id="org.eclipse.rap.rwt.source"/>
<plugin id="org.eclipse.rap.rwt.testfixture"/>
<plugin id="org.eclipse.rap.rwt.testfixture.source"/>
<plugin id="org.eclipse.rap.ui"/>
<plugin id="org.eclipse.rap.ui.cheatsheets"/>
<plugin id="org.eclipse.rap.ui.cheatsheets.source"/>
<plugin id="org.eclipse.rap.ui.forms"/>
<plugin id="org.eclipse.rap.ui.forms.source"/>
<plugin id="org.eclipse.rap.ui.navigator"/>
<plugin id="org.eclipse.rap.ui.navigator.source"/>
<plugin id="org.eclipse.rap.ui.source"/>
<plugin id="org.eclipse.rap.ui.views"/>
<plugin id="org.eclipse.rap.ui.views.properties.tabbed"/>
<plugin id="org.eclipse.rap.ui.views.properties.tabbed.source"/>
<plugin id="org.eclipse.rap.ui.views.source"/>
<plugin id="org.eclipse.rap.ui.workbench"/>
<plugin id="org.eclipse.rap.ui.workbench.source"/>
<plugin id="org.eclipse.xtend"/>
<plugin id="org.eclipse.xtend.core"/>
<plugin id="org.eclipse.xtend.core.source"/>
<plugin id="org.eclipse.xtend.doc"/>
<plugin id="org.eclipse.xtend.examples"/>
<plugin id="org.eclipse.xtend.ide"/>
<plugin id="org.eclipse.xtend.ide.common"/>
<plugin id="org.eclipse.xtend.ide.common.source"/>
<plugin id="org.eclipse.xtend.ide.source"/>
<plugin id="org.eclipse.xtend.lib"/>
<plugin id="org.eclipse.xtend.lib.macro"/>
<plugin id="org.eclipse.xtend.lib.macro.source"/>
<plugin id="org.eclipse.xtend.lib.source"/>
<plugin id="org.eclipse.xtend.m2e"/>
<plugin id="org.eclipse.xtend.profiler"/>
<plugin id="org.eclipse.xtend.profiler.source"/>
<plugin id="org.eclipse.xtend.source"/>
<plugin id="org.eclipse.xtend.standalone"/>
<plugin id="org.eclipse.xtend.standalone.source"/>
<plugin id="org.eclipse.xtend.typesystem.emf"/>
<plugin id="org.eclipse.xtend.typesystem.emf.source"/>
<plugin id="org.eclipse.xtend.typesystem.emf.ui"/>
<plugin id="org.eclipse.xtend.typesystem.emf.ui.source"/>
<plugin id="org.eclipse.xtend.util.stdlib"/>
<plugin id="org.eclipse.xtend.util.stdlib.source"/>
<plugin id="org.eclipse.xtend2.lib"/>
<plugin id="org.eclipse.xtend2.lib.source"/>
<plugin id="org.eclipse.xtext"/>
<plugin id="org.eclipse.xtext.builder"/>
<plugin id="org.eclipse.xtext.builder.source"/>
<plugin id="org.eclipse.xtext.builder.standalone"/>
<plugin id="org.eclipse.xtext.builder.standalone.source"/>
<plugin id="org.eclipse.xtext.common.types"/>
<plugin id="org.eclipse.xtext.common.types.edit"/>
<plugin id="org.eclipse.xtext.common.types.edit.source"/>
<plugin id="org.eclipse.xtext.common.types.shared"/>
<plugin id="org.eclipse.xtext.common.types.shared.jdt38"/>
<plugin id="org.eclipse.xtext.common.types.shared.jdt38.source"/>
<plugin id="org.eclipse.xtext.common.types.shared.source"/>
<plugin id="org.eclipse.xtext.common.types.source"/>
<plugin id="org.eclipse.xtext.common.types.ui"/>
<plugin id="org.eclipse.xtext.common.types.ui.source"/>
<plugin id="org.eclipse.xtext.ecore"/>
<plugin id="org.eclipse.xtext.ecore.source"/>
<plugin id="org.eclipse.xtext.generator"/>
<plugin id="org.eclipse.xtext.generator.source"/>
<plugin id="org.eclipse.xtext.ide"/>
<plugin id="org.eclipse.xtext.java"/>
<plugin id="org.eclipse.xtext.java.source"/>
<plugin id="org.eclipse.xtext.junit4"/>
<plugin id="org.eclipse.xtext.junit4.source"/>
<plugin id="org.eclipse.xtext.logging"/>
<plugin id="org.eclipse.xtext.logging.source"/>
<plugin id="org.eclipse.xtext.smap"/>
<plugin id="org.eclipse.xtext.smap.source"/>
<plugin id="org.eclipse.xtext.source"/>
<plugin id="org.eclipse.xtext.ui"/>
<plugin id="org.eclipse.xtext.ui.codetemplates"/>
<plugin id="org.eclipse.xtext.ui.codetemplates.source"/>
<plugin id="org.eclipse.xtext.ui.codetemplates.ui"/>
<plugin id="org.eclipse.xtext.ui.codetemplates.ui.source"/>
<plugin id="org.eclipse.xtext.ui.ecore"/>
<plugin id="org.eclipse.xtext.ui.ecore.source"/>
<plugin id="org.eclipse.xtext.ui.shared"/>
<plugin id="org.eclipse.xtext.ui.shared.source"/>
<plugin id="org.eclipse.xtext.ui.source"/>
<plugin id="org.eclipse.xtext.util"/>
<plugin id="org.eclipse.xtext.util.source"/>
<plugin id="org.eclipse.xtext.xbase"/>
<plugin id="org.eclipse.xtext.xbase.ide"/>
<plugin id="org.eclipse.xtext.xbase.ide.source"/>
<plugin id="org.eclipse.xtext.xbase.junit"/>
<plugin id="org.eclipse.xtext.xbase.junit.source"/>
<plugin id="org.eclipse.xtext.xbase.lib"/>
<plugin id="org.eclipse.xtext.xbase.lib.source"/>
<plugin id="org.eclipse.xtext.xbase.source"/>
<plugin id="org.eclipse.xtext.xtext.generator"/>
<plugin id="org.eclipse.xtext.xtext.generator.source"/>
<plugin id="org.eclipse.xtext.xtext.wizard"/>
<plugin id="org.eclipse.xtext.xtext.wizard.source"/>
<plugin id="org.glassfish.javax.json"/>
<plugin id="org.hamcrest.core"/>
<plugin id="org.hamcrest.core.source"/>
<plugin id="org.junit"/>
<plugin id="org.junit.source"/>
<plugin id="org.objectweb.asm"/>
<plugin id="org.objectweb.asm.source"/>
<plugin id="osgi.enterprise"/>
<plugin id="osgi.enterprise.source"/>
</includeBundles>
</target>
