<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.rap.ui.resources">
      <resource
            class="org.dslforge.example.java.web.editor.widget.JavaResource"
            id="org.dslforge.example.java.web.editor">
      </resource>
      <resource
          class="org.dslforge.example.java.web.editor.widget.GlobalIndexResource">
      </resource>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themeableWidgets">
      <widget
            class="org.dslforge.example.java.web.editor.widget.Java"
            id="org.dslforge.example.java.web.editor.widget.Domainmodel"
            name="Java">
      </widget>
   </extension>
      <!-- @generated dslforge -->
   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.dslforge.example.java.web.editor"
            name="Java Editor"
	            icon="icons/jcu_obj.png"
		            extensions="java"
           class="org.dslforge.example.java.web.editor.JavaEditor"
            contributorClass="org.dslforge.example.java.web.editor.JavaActionBarContributor">
      </editor>
   </extension>
      <!-- @generated dslforge -->
   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="Java Action Set"
            visible="true"
            id="org.dslforge.example.java.web.editor.actionset">
         <action
               class="org.dslforge.example.java.web.actions.NewJavaAction"
               icon="icons/model.png"
               id="org.dslforge.example.java.web.wizard.newDomainmodelAction"
               label="Java file"
               menubarPath="file/new/additions"/>
      </actionSet>
   </extension>
   <!--
   <extension
         point="org.dslforge.workbench.contribution">
      <generator
            class="org.dslforge.example.java.web.JavaExecutableExtensionFactory"
            extension="dmodel"
            label="org.xtext.example.Domainmodel">
      </generator>
   </extension>
   -->
</plugin>
