<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.save"
            contextId="org.dslforge.rap.xtext.common.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+S">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.dslforge.rap.xtext.common.context"
            name="DSLFORGE Context"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
      <!-- @generated dslforge -->
   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.dslforge.xtext.common.web.editor"
            name="Text Editor"
	            icon="icons/file_obj.png"
		            extensions="txt, html, xml, json, calc"
           class="org.eclipse.rap.incubator.texteditor.BasicTextEditor">
      </editor>
   </extension>
   <!--
      <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.dslforge.rap.xtext.common.compiler.java.contribution"
            nameFilter="*.java"
            objectClass="java.io.File">
         <action
               class="org.dslforge.rap.xtext.common.compiler.DynamicCompiler"
               icon="icons/run_exec.png"
               id="org.dslforge.rap.xtext.common.compiler.java.action"
               label="Run">
         </action>
      </objectContribution>
   </extension>
-->
</plugin>
