<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension
         point="org.eclipse.rap.ui.resources">
      <resource
          class="org.xtext.example.domainmodel.web.editor.widget.DomainmodelResource">
         <dependsOn
               resourceId="org.dslforge.styledtext.basictext">
         </dependsOn>
      </resource>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themeableWidgets">
      <widget
            class="org.xtext.example.domainmodel.web.editor.widget.Domainmodel"
            id="org.xtext.example.domainmodel.web.editor.widget.Domainmodel"
            name="Domainmodel">
      </widget>
   </extension>
      <!-- @generated dslforge -->
   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.xtext.example.domainmodel.web.editor"
            name="Domainmodel Model Editor"
	            icon="icons/model.png"
		            extensions="dmodel"
           class="org.xtext.example.domainmodel.web.editor.DomainmodelEditor"
            contributorClass="org.xtext.example.domainmodel.web.editor.DomainmodelActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.dslforge.xtext.common.contribution">
      <contribution
            factory="org.xtext.example.domainmodel.web.DomainmodelExecutableExtensionFactory"
            path="/org.xtext.example.domainmodel/src/org/xtext/example/Domainmodel.xtext"
            extension="dmodel">
      </contribution>
   </extension>
</plugin>
