<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension
         point="org.eclipse.rap.ui.resources">
      <resource
          class="org.xtext.example.domainmodel.web.editor.widget.DomainmodelResource">
      </resource>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themeableWidgets">
      <widget
            class="org.xtext.example.domainmodel.web.editor.widget.Domainmodel"
            id="org.xtext.example.domainmodel.web.editor.widget.Domainmodel"
            name="Domainmodel">
      </widget>
   </extension>
      <!-- @generated dslforge -->
   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.xtext.example.domainmodel.web.editor"
            name="Domainmodel Model Editor"
	            icon="icons/model.png"
		            extensions="dmodel"
           class="org.xtext.example.domainmodel.web.editor.DomainmodelEditor"
            contributorClass="org.xtext.example.domainmodel.web.editor.DomainmodelActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.dslforge.xtext.common.contribution">
      <contribution
            class="org.xtext.example.domainmodel.web.DomainmodelExecutableExtensionFactory"
            extension="dmodel"
            label="Domainmodel">
      </contribution>
   </extension>
      <!-- @generated dslforge -->
      <!--
   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="Domainmodel Action Set"
            visible="true"
            id="org.dslforge.core.ui.model.actionset">
         <action
               label="Domainmodel file"
               class="org.xtext.example.domainmodel.web.actions.NewDomainmodelAction"
              menubarPath="file/new/additions"
               id="org.xtext.example.domainmodel.web.wizard.newDomainmodelAction"/>
      </actionSet>
   </extension>

   <extension
     point="org.dslforge.workbench.contribution">
  <generator
       class="org.xtext.example.domainmodel.web.DomainmodelExecutableExtensionFactory"
         extension="dmodel"
        label="org.xtext.example.Domainmodel">
  </generator>
</extension>
   -->
</plugin>
