<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="org.dslforge.workspace.ui.commands.NewProjectCommand"
            description="Create a new project"
            helpContextId="CreateNewProject"
            id="org.dslforge.workspace.ui.commands.newProject"
            name="CreateNewProject">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="org.dslforge.workspace.ui.commands.NewFolderCommand"
            description="Create a new folder"
            helpContextId="CreateNewFolder"
            id="org.dslforge.workspace.ui.commands.newFolder"
            name="CreateNewFolder">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="org.dslforge.workspace.ui.commands.NewFileCommand"
            description="Create a new file"
            helpContextId="CreateNewFile"
            id="org.dslforge.workspace.ui.commands.newFile"
            name="CreateNewFile">
      </command>
      <command
            defaultHandler="org.dslforge.workspace.ui.commands.NewModelCommand"
            description="Create a new model"
            helpContextId="Create a new model"
            id="org.dslforge.workspace.ui.commands.newModel"
            name="CreateNewModel">
      </command>
      <command
            defaultHandler="org.dslforge.workspace.ui.commands.OpenResourceCommand"
            description="Open file"
            helpContextId="OpenFile"
            id="org.dslforge.workspace.ui.commands.openResource"
            name="OpenResource">
      </command>
      <command
            defaultHandler="org.dslforge.workspace.ui.commands.OpenFormCommand"
            description="Open form"
            helpContextId="OpenForm"
            id="org.dslforge.workspace.ui.commands.openForm"
            name="OpenForm">
      </command>
      <command
            defaultHandler="org.dslforge.workspace.ui.commands.DeleteResourceCommand"
            description="Delete file"
            helpContextId="DeleteFile"
            id="org.dslforge.workspace.ui.commands.deleteFile"
            name="Delete file">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.dslforge.workspace.ui.FileSystemContentProvider"
            id="org.dslforge.navigator.fileContent"
            labelProvider="org.dslforge.workspace.ui.FileSystemLabelProvider"
            name="Workspace Content"
            priority="high">
         <triggerPoints>
            <instanceof
                  value="java.io.File">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
      <commonFilter
            activeByDefault="false"
            class="org.dslforge.workspace.ui.BasicWorkspaceFilter"
            description="a filter example"
            id="org.dslforge.workspace.commonFilter2"
            name=".* resources"
            visibleInUI="true">
      </commonFilter>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.dslforge.workspace.ui.BasicWokspaceNavigator"
            icon="icons/earth_view.png"
            id="org.dslforge.navigator.view"
            name="Project Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.dslforge.workspace.ui.context">
         <with
               variable="activeWorkbenchWindow.activePerspective">
            <or>
               <equals
                     value="org.dslforge.workbench.ui.parts.perspective">
               </equals>
               <equals
                     value="org.dslforge.texteditor.demo.ui.parts.perspective">
               </equals>
            </or>
         </with>
      </definition>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:new">
         <command
               commandId="org.dslforge.workspace.ui.commands.newProject"
               icon="icons/prj_obj.png"
               id="org.dslforge.workspace.ui.actions.newProject"
               label="Project"
               style="push"
               tooltip="Create a new project">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.dslforge.workspace.ui.context">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.dslforge.workspace.ui.commands.newFolder"
               helpContextId="Create a new folder"
               icon="icons/fldr_obj.png"
               id="org.dslforge.workspace.ui.commands.newProject"
               label="Folder"
               style="push"
               tooltip="Create a new folder">
         </command>
         <command
               commandId="org.dslforge.workspace.ui.commands.newFile"
               helpContextId="Create a new file"
               icon="icons/file_obj.png"
               id="org.dslforge.workspace.ui.commands.newFile"
               label="File"
               style="push"
               tooltip="Create a new file">
         </command>
         <command
	            commandId="org.dslforge.workspace.ui.commands.newModel"
	           	helpContextId="Create a new model"
                icon="icons/file_obj.png"
                id="org.dslforge.workspace.ui.commands.newModel"
                label="Model"
                style="push"
                tooltip="Create a new model">
      </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.dslforge.navigator.view">
         <menu
               id="org.dslforge.workspace.menu.new"
               label="New">
            <command
                  commandId="org.dslforge.workspace.ui.commands.newProject"
                  helpContextId="CreateNewProject"
                  icon="icons/prj_obj.png"
                  id="org.dslforge.workspace.menu.new.project"
                  label="Project"
                  style="push"
                  tooltip="Create new project">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.dslforge.workspace.ui.context">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.dslforge.workspace.ui.commands.newFolder"
                  helpContextId="CreateNewFolder"
                  icon="icons/fldr_obj.png"
                  id="org.dslforge.workspace.menu.new.folder"
                  label="Folder"
                  style="push"
                  tooltip="Create new folder">
            </command>
            <command
                  commandId="org.dslforge.workspace.ui.commands.newFile"
                  helpContextId="CreateNewFile"
                  icon="icons/file_obj.png"
                  id="dslforge.workspace.menu.new.file"
                  label="File"
                  style="push"
                  tooltip="Create new file">
            </command>
         </menu>
         <separator
               name="separator1"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.dslforge.navigator.view?after=separator1">
         <command
               commandId="org.dslforge.workspace.ui.commands.openResource"
               helpContextId="OpenFile"
               id="org.dslforge.workspace.menu.openfile"
               label="Open"
               style="push"
               tooltip="Open file">
         </command>
         <menu
               id="org.dslforge.workspace.menu.openwith"
               label="Open With"
               tooltip="Open with">
            <command
                  commandId="org.dslforge.workspace.ui.commands.openResource"
                  helpContextId="OpenDefaultEditor"
                  icon="icons/model.png"
                  id="org.dslforge.workspace.menu.open.file"
                  label="Text Editor (default)"
                  style="push"
                  tooltip="Open with default editor">
            </command>
            <command
                  commandId="org.dslforge.workspace.ui.commands.openForm"
                  helpContextId="OpenFormEditor"
                  icon="icons/model.png"
                  id="org.dslforge.workspace.menu.open.form"
                  label="Form Editor"
                  style="push"
                  tooltip="Open with form editor">
            </command>
         </menu>
         <separator
               name="separator2"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.dslforge.navigator.view?after=separator3">
         <command
               commandId="org.dslforge.workspace.ui.commands.deleteFile"
               helpContextId="DeleteFile"
               icon="icons/delete_obj.png"
               id="org.dslforge.workspace.menu.deleteFile"
               label="Delete"
               style="push"
               tooltip="Delete file">
         </command>
      </menuContribution>
   	</extension>

   
</plugin>
