<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!-- @generated dslforge -->
<plugin>
      <extension
         point="org.eclipse.rap.ui.resources">
      <resource
          class="org.eclipse.sphinx.examples.xtext.hummingbird.web.editor.widget.HummingbirdResource">
		<dependsOn
			resourceId="org.dslforge.styledtext.basictext">
		</dependsOn>
      </resource>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themeableWidgets">
      <widget
            class="org.eclipse.sphinx.examples.xtext.hummingbird.web.editor.widget.Hummingbird"
            id="org.eclipse.sphinx.examples.xtext.hummingbird.web.editor.widget.Hummingbird"
            name="Hummingbird">
      </widget>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.sphinx.examples.xtext.hummingbird.web.editor"
            name="Hummingbird Model Editor"
		            extensions="hbtext"
           class="org.eclipse.sphinx.examples.xtext.hummingbird.web.editor.HummingbirdEditor"
            contributorClass="org.eclipse.sphinx.examples.xtext.hummingbird.web.editor.HummingbirdActionBarContributor">
      </editor>
   </extension>
   <extension
     point="org.dslforge.xtext.common.contribution">
  <contribution
       factory="org.eclipse.sphinx.examples.xtext.hummingbird.web.HummingbirdExecutableExtensionFactory"
        path="/org.eclipse.sphinx.examples.xtext.hummingbird/src/org/eclipse/sphinx/examples/xtext/Hummingbird.xtext"
        extension="hbtext">
  </contribution>
</extension>
</plugin>
