<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!-- @generated dslforge -->
<extension point="org.eclipse.rap.ui.entrypoint">
	<entrypoint
		class="org.xtext.example.conf.web.ConfWorkbench"
			id="org.dslforge.core.ui.entrypoint"
			path="/conf">
		</entrypoint>
	</extension>
	<!-- @generated dslforge -->
	<extension
		id="org.dslforge.core.ui.application"
				point="org.eclipse.core.runtime.applications">
		<application>
			<run
				class="org.xtext.example.conf.web.ConfApplication">
			</run>
		</application>
	</extension>
<!-- @generated dslforge -->
	<extension
		point="org.eclipse.ui.perspectives">
		<perspective
			name="Conf Perspective"
			class="org.xtext.example.conf.web.parts.ConfPerspective"
				id="org.dslforge.core.ui.parts.perspective">
		</perspective>
	</extension>
	<!-- @generated dslforge -->
			<extension
				point="org.eclipse.ui.views">
		<view
			name="Conf View"
			class="org.xtext.example.conf.web.parts.ConfView"
			id="org.dslforge.core.ui.parts.view">
		</view>
	</extension>
	<!-- @generated dslforge -->
	<!--
	<extension
		point="org.eclipse.ui.presentationFactories">
		<factory
			class="org.xtext.example.conf.web.presentation.ConfFactory"
			id="org.dslforge.core.ui.presentation"
			name="Platform Presentation">
		</factory>
	</extension>
	-->
	<!-- @generated dslforge -->
    <extension point="org.eclipse.ui.commands">
    	<command
           categoryId="org.eclipse.ui.category.file"
          description="Opens an Xtext model loading it from a URI"
           id="org.dslforge.core.ui.actions.commands.OpenURICommand"
           name="Open URI..."/>
        <!--
        <command
           categoryId="org.eclipse.ui.category.edit"
          description="Launches code generation on remote resource"
           id="org.dslforge.core.ui.actions.commands.GenerateCommand"
           name="Generate HTML..."/>
        -->
   </extension>
   <!-- @generated dslforge -->
   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="Basic Action Set"
            visible="true"
            id="org.dslforge.core.ui.actionset">
         <action
               label="About..."
               class="org.xtext.example.conf.web.actions.AboutAction"
               menubarPath="help/additions"
               id="org.dslforge.core.ui.actions.aboutaction"/>
         <action
               class="org.xtext.example.conf.web.actions.OpenURIAction"
               definitionId="org.dslforge.core.ui.actions.commands.OpenURICommand"
               id="org.dslforge.core.ui.actions.openuriaction"
               label="Open URI..."
               menubarPath="file/additions"
               retarget="false"/>
         <!--
         <action
               label="Generate HTML..."
               definitionId="org.dslforge.core.ui.actions.commands.GenerateCommand"
               class="org.xtext.example.conf.web.actions.GenerateActionDelegate"
               menubarPath="file/additions"
               id="org.dslforge.core.ui.actions.openuriaction"/>
          -->
      </actionSet>
   </extension>
   <!-- @generated dslforge -->
   <!--
   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="Basic Model Action Set"
	            visible="true"
="org.dslforge.core.ui.model.actionset">
         <action
               label="Conf Model"
               class="org.dslforge.core.ui.actions.NewModelAction"
               menubarPath="file/new/additions"
               id="org.dslforge.core.ui.actions.newmodelaction"/>
      </actionSet>
   </extension>
   -->  
      <extension
         point="org.eclipse.rap.ui.resources">
      <resource
          class="org.xtext.example.conf.web.editor.widget.ConfResource">
      </resource>
      <resource
          class="org.xtext.example.conf.web.editor.widget.GlobalIndexResource">
      </resource>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themeableWidgets">
      <widget
            class="org.xtext.example.conf.web.editor.widget.Conf"
            id="org.xtext.example.conf.web.editor.widget.Conf"
            name="Conf">
      </widget>
   </extension>
      <!-- @generated dslforge -->
   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.dslforge.core.ui.editor"
            name="Conf Model Editor"
	            icon="icons/ModelFile.gif"
		            extensions="conf"
           class="org.xtext.example.conf.web.editor.ConfEditor"
            contributorClass="org.xtext.example.conf.web.editor.ConfActionBarContributor">
      </editor>
   </extension>
      <!-- @generated dslforge -->
   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="Conf Action Set"
            visible="true"
            id="org.dslforge.core.ui.model.actionset">
         <action
               label="Conf file"
               class="org.xtext.example.conf.web.actions.NewConfAction"
              menubarPath="file/new/additions"
               id="org.xtext.example.conf.web.wizard.newConfAction"/>
      </actionSet>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            class="org.xtext.example.conf.web.menus.ToolsMenu"
            locationURI="org.xtext.example.conf.web.menuContribution">
         <command
               commandId="org.dslforge.core.ui.actions.commands.GenerateCommand"
               label="A command"
               style="push">
         </command>
      </menuContribution>
   </extension>
   -->
</plugin>
